 /* Hacer que las ventanas de sobre nosotros sean emergentes */
 .about-item {
    width: 100px; /* Ancho inicial pequeño */
    height: 80px; /* Alto inicial pequeño */
    overflow: hidden; /* Oculta el contenido que se desborda */
    transition: width 0.5s, height 0.5s; /* Transición suave */
    margin-bottom: 20px; /* Espacio entre los elementos */
    background-color: #f0f0f0; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    position: relative; /* Para que la ventana emergente se posicione correctamente */
  }
  
  .about-item h3 {
    margin-top: 10px; /* Ajusta el espacio superior del título */
  }
  
  .about-item:hover {
    width: 50vw; /* 50% del ancho de la pantalla al pasar el mouse */
    height: 50vh; /* 50% del alto de la pantalla al pasar el mouse */
    overflow: auto; /* Muestra barras de desplazamiento si es necesario */
    z-index: 10; /* Asegura que la ventana esté por encima de otros elementos */
  }
  /*----------------------------------------------------------------------------------------------------------------------------------*/

  